<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search Payment"
      #input
    />
  </mat-form-field>
<button mat-stroked-button (click)=addSubscription()>
    <mat-icon>add</mat-icon>Payment
</button>    
</div>

<div>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef> Duration
            </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="viewSubscription(element)"> {{element.duration}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="plan">
            <mat-header-cell *matHeaderCellDef>Practice</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="viewSubscription(element)"> {{element.plan.for}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="viewSubscription(element)"> {{element.amount | currency}} </mat-cell>
        </ng-container>
        s
        <ng-container matColumnDef="institution">
            <mat-header-cell *matHeaderCellDef>  Subscription Plan </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="viewSubscription(element)"> {{element.plan.name}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="viewSubscription(element)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteSubscription(element._id)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[7, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
