.feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    div{
    
    }

    
    
}

.feature-name{
    width:120px;
}

.feature-details{
    flex-grow: 1;
    mat-form-field{
        width: 100px;
        margin-right: 10px;

        
    }
}