<h1 mat-header>Add Subscription</h1>
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div>
      <div>
        <mat-form-field appearance="outline" style="width: 45%">
          <mat-label>Target Group</mat-label>
          <mat-select formControlName="for">
            <mat-option *ngFor="let item of ['private', 'group', 'institution']" [value]="item">{{ item | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 45%">
          <mat-label>Plan Name</mat-label>
          <mat-select formControlName="name">
            <mat-option *ngFor="let item of ['standard', 'premium']" [value]="item">{{ item | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 45%; margin-right: 10%">
          <mat-label>Monthly Payments</mat-label>
          <input matInput formControlName="amount_per_month" type="text" />
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 45%">
          <mat-label>Annual Payments</mat-label>
          <input matInput formControlName="amount_per_year" type="text" />
        </mat-form-field>
      </div>
    </div>

    <!-- features start here -->
    <div formGroupName="features">
      <div>
        <div formGroupName="patients" class="feature">
          <div class="feature-name">
            <h3>Patients</h3>
          </div>
          <div class="feature-details">
            <mat-form-field appearance="outline">
              <mat-label>count</mat-label>
              <input formControlName="count" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>foreach_extra</mat-label>
              <input formControlName="foreach_extra" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Monthly Price</mat-label>
              <input formControlName="foreach_extra_monthly_amount" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Annual Price</mat-label>
              <input formControlName="foreach_extra_annual_amount" matInput type="number" />
            </mat-form-field>
          </div>
        </div>

        <div formGroupName="doctors" class="feature">
          <div class="feature-name">
            <h3>Doctors</h3>
          </div>
          <div class="feature-details">
            <mat-form-field appearance="outline">
              <mat-label>count</mat-label>
              <input formControlName="count" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>foreach_extra</mat-label>
              <input formControlName="foreach_extra" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Monthly Price</mat-label>
              <input formControlName="foreach_extra_monthly_amount" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Annual Price</mat-label>
              <input formControlName="foreach_extra_annual_amount" matInput type="number" />
            </mat-form-field>
          </div>
        </div>

        <div formGroupName="admins" class="feature">
          <div class="feature-name">
            <h3>Admins</h3>
          </div>
          <div class="feature-details">
            <mat-form-field appearance="outline">
              <mat-label>count</mat-label>
              <input formControlName="count" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>foreach_extra</mat-label>
              <input formControlName="foreach_extra" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Monthly Price</mat-label>
              <input formControlName="foreach_extra_monthly_amount" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Annual Price</mat-label>
              <input formControlName="foreach_extra_annual_amount" matInput type="number" />
            </mat-form-field>
          </div>
        </div>

        <div formGroupName="files" class="feature">
          <div class="feature-name">
            <h3>Files</h3>
          </div>
          <div class="feature-details">
            <mat-form-field appearance="outline">
              <mat-label>count</mat-label>
              <input formControlName="count" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>foreach_extra</mat-label>
              <input formControlName="foreach_extra" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Monthly Price</mat-label>
              <input formControlName="foreach_extra_monthly_amount" matInput type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Annual Price</mat-label>
              <input formControlName="foreach_extra_annual_amount" matInput type="number" />
            </mat-form-field>
          </div>
        </div>
     
      </div>

      <div>
        <div formGroupName="notes" class="feature">
          <div class="feature-name">
            <h3>Notes</h3>
          </div>
          <div class="feature-details">
            <mat-checkbox formControlName="available">Available</mat-checkbox>
          </div>
        </div>

        <div formGroupName="payments" class="feature">
          <div class="feature-name">
            <h3>Payments</h3>
          </div>
          <div class="feature-details">
            <mat-checkbox formControlName="available">Available</mat-checkbox>
          </div>
        </div>

        <div formGroupName="schedules" class="feature">
          <div class="feature-name">
            <h3>Schedules</h3>
          </div>
          <div class="feature-details">
            <mat-checkbox formControlName="available">Available</mat-checkbox>
          </div>
        </div>

        <div formGroupName="reminders" class="feature">
          <div class="feature-name">
            <h3>Reminders</h3>
          </div>
          <div class="feature-details">
            <mat-checkbox formControlName="available">Available</mat-checkbox>
          </div>
        </div>
        
        <div class="feature">
          <div class="feature-name">
            <h3>Analytics</h3>

          </div>
          <div class="feature-details">
            <mat-form-field appearance="outline" style="width: 45%">
              <mat-label>Analytics</mat-label>
              <mat-select formControlName="analytics">
                <mat-option *ngFor="let item of ['Basic', 'Advanced', 'Executive']" [value]="item">{{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
      </div>
    </div>

    <div>
      <button mat-stroked-button>Save</button>
    </div>
  </form>
</div>