<div>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search Doctors" #input />
    </mat-form-field>
  
    <div>
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef > Title </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)=viewDoctors(element)> {{ element.title }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef> First Name</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)=viewDoctors(element)> {{ element.first_name }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef> Last Name</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)=viewDoctors(element)> {{ element.last_name }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)=viewDoctors(element)> {{ element.email }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)=viewDoctors(element)>
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[7, 10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  
  </div>
