<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search Medical-Aid"
      #input
    />
  </mat-form-field>
  <button mat-stroked-button (click)="addMedicalAid()">
    <mat-icon>add</mat-icon> medical-aid
  </button>
</div>

<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Medical Aid </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="viewMedicalAid(element)"> 
        {{ element.medical_aid_name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="viewMedicalAid(element)"> {{ element.status }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="viewMedicalAid(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-stroked-button (click)="activateDeactivate(element)">
          {{ element.status === "inactive" ? "activate" : "deactivate" }}
        </button>
        <button mat-icon-button (click)="deleteMedicalAid(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    a-md-data-table-column
    <!-- press ctrl + space to add more column snippet or delete this line -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[7, 10, 15, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
