<h1>Edit Payment</h1>

<mat-dialog-content>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
            <mat-label>Duration(days)</mat-label>
            <mat-select formControlName="duration" >
                <mat-option *ngFor="let duration of ['monthly','yearly']" [value]="duration">
                    {{duration}}
                </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
        <!-- <div>
            <mat-form-field appearance="outline">
                <mat-label>Institution Name</mat-label>
                <input
                  matInput
                  formControlName="institution_name"
                  placeholder="Institution"
                />
              </mat-form-field>
        </div> -->
        <div>
          <mat-form-field appearance="outline">
              <mat-label>Subscription Plan</mat-label>
              <mat-select formControlName="plan" >
                  <mat-option value="null">none</mat-option>
                  <mat-option *ngFor="let plan of plans" [value]="plan">
                      {{ plan.name}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
        {{calculated_amount | currency}}
        <div>
            <button mat-stroked-button type="submit">
                Save
            </button>
        </div>
    </form>
    
</mat-dialog-content>
