<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Medical-aid">
        <app-medical-aid></app-medical-aid>
    </mat-tab>
    <mat-tab label="Procedures">
        <app-procedures></app-procedures>
    </mat-tab>
    <mat-tab label="Specialisations">
        <app-specialisations></app-specialisations>
    </mat-tab>
    <mat-tab label="Subscriptions">
        <app-subscriptions></app-subscriptions>
    </mat-tab>
    <mat-tab label="Hospitals">
        <app-hospitals></app-hospitals>
    </mat-tab>
  </mat-tab-group>

