.feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    div{
        flex-basis: 50%;
    }

    .feature-details{
        mat-form-field{
            width: 100px;
            margin-right: 10px;
        }
    }
    
}